.container {
    display: flex;
    justify-content: center;
    flex: 1;
}

h1,
p {
    font-family: "Oxygen Mono", sans-serif;
    text-align: center;
    font-size: 48px;
    color: white;
}

.text {
    background-color: black;
}

p {
    font-size: 24px;
}

img {
    width: 250px;
    border-radius: 250px;
    border: 25px solid black;
    margin: 0 auto;
}