#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-name {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-align: center;
}

#results-container {
    margin: 5px auto;
}

#game-container {
    margin: 5px auto;
}

#footer {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
}


/* FontAwesome Icons */

.fab {
    text-decoration: none;
}